####################################
# Project outputs
logs/
tensorboard/
vis_demo/results/
output/
outputs/
pose_centered/
scannet*_instance_data/
*.lmdb

####################################
# Data
data/
!data/**/meta_data/**
!data/README*

####################################
# Large binary files
*.pth
*.ckpt
*.bin
*.tar
*.np[yz]

####################################
# Python
*.py[cod]
__pycache__/
**/__pycache__/
**/*.py[cod]

# Build / C-extensions
*.so
build/
dist/
develop-eggs/
.eggs/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

# third-party compiled dirs
thirdparty/**/build/
thirdparty/**/dist/
thirdparty/**/*.so
thirdparty/**/*.o

####################################
# Tests / type checking
.pytest_cache/
.mypy_cache/
*.coverage

####################################
# Env / tooling
.env/
.venv/
.vscode/
.idea/
*.log

####################################
# OS
.DS_Store
Thumbs.db
thirdparty/FastSAM
